
.nav-shop-mate-title{
  /* Style for "SHOPMATE" */
    width: 177px;
    height: 30px;
    color: #f62f5e;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.nav-background-size{
  width: 1000px;
  height: 72px;
  background-color: #ffffff;
}

.categorys span{
  font-size: 15px;
  color: #2e2e2e;
}

