<div class="container h-100">
    <div class="row h-100 border grow">
        <div class="col-12 p-3  ">
            <div class="row">
                <div class="col-12 text-center">
                    <img  class="img-fluid" src="https://backendapi.turing.com/images/products/{{product.thumbnail}}">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 text-center">
                    <span><b>{{product.name}}</b></span>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 text-center">
                    <button class="btn btn-pink btn-sm border-radius-24 text-white size-12"><b>See More</b></button>
                </div>
            </div>
        </div>
    </div>
</div>
