$pink :  #f62f5e;

.text-pink{
  color:$pink;
}

.bg-pink{
  color:$pink;
}

.btn-link.text-pink:hover{
  color: #fc839f;
  text-decoration: underline;
  background-color: transparent;
  border-color: transparent;
}

body{
  font-family: Montserrat, sans-serif;
  font-size: 15px;
}
